/* Home.css */

.home-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .email-form {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .email-form label {
    font-weight: bold;
  }
  
  .email-form input,
  .email-form .rdw-editor-main {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .send-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }
  
  .send-button:hover {
    background-color: #0056b3;
  }
  .editor{
    height: 1rem;
  }